.home,
.home__container {
  height: 100%;
  background: #e5e5e5;
  padding: 10px;
}

.product__category {
  padding: 20px 30px 0px;
  display: flex;
  background: #fff;
  justify-content: space-between;
}

.category-name {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  justify-self: flex-start;
}

.category-view-all {
  cursor: pointer;
}
