.payment {
  background: #fff;
  margin: 50px;
}

.payment__container h1 {
  text-align: center;
  font-weight: 400;
  background-color: rgb(250 250 250);
  border-bottom: 1px solid lightgrey;
  font-size: 2rem;
  padding: 15px 0px;
}

.payment__container_section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgrey;
  flex-direction: column;
  align-items: flex-start;
}

.payment_items {
  width: 100%;
}

.payment_title h3 {
  font-weight: bold;
}

.payment_address {
  text-align: left;
  width: 600px;
  border-radius: 5px;
  padding-bottom: 20px;
}

.checkout-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.payment-notify {
  display: flex;
  justify-content: flex-start;
}
.field-mandatory::after {
  content: "*";
  color: red;
  font-size: 20px;
}
